a {
  font-weight: 500;
  color: var(--primary-accent-color);
  text-decoration: inherit;
}
a:hover {
  color: (var--primary-accent-color-light);
}

body {
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font);
  box-sizing: border-box;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-accent-color);
  color: var(--secondary-accent-text-color);
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  border-color: var(--secondary-accent-color-dark);
  background-color: var(--secondary-accent-color-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.themeParks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100vmax;
}

.parkCard {
  min-width: 40vmax;
  min-height: 30vmax;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 2vmin;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0.5rem;
}

.parkName {
  background-color: var(--primary-accent-color-dark);
  padding: 0 0.5rem;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.6);
  transition: all 0.25s ease;
  color: var(--primary-accent-text-color); 
}

.parkCard:hover {
  cursor: pointer;
  .parkName {
    background-color: var(--primary-accent-color-light);
    color: white;
  }
}

header {
  display: flex;
  background-color: var(--primary-accent-color);
  color: #000000;
  box-shadow: 0px 2px 20px 10px rgba(255, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

header a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;  
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.add-park-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  width: 25vmin;
  border-radius: 1rem;
  background-color: var(--primary-accent-color);
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;
  box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}