/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Define font variables */
  --header-font: 'Permanent Marker', cursive;
  --body-font: 'Montserrat', sans-serif;

  /* Define default (dark-mode) variables */
  --background-color: #1b1818; 
  --border-color: #453b3b;
  --text-color: #fbfbfb; 
  --text-color-light: #dcd6d6; 
  --text-color-lighter: #ac9f9f; 
  --primary-accent-color: #c21414; 
  --primary-accent-color-light: #e82121; 
  --primary-accent-color-dark: #940f0f; 
  --primary-accent-text-color: #fbdada;
  --secondary-accent-color: #6bc214; 
  --secondary-accent-color-light: #84e821; 
  --secondary-accent-color-dark: #51940f; 
  --secondary-accent-text-color: #000000; 
  --success-color: #14c214; 
  --warning-color: #c2c214; 
  --error-color: #c21414; 
  --success-text-color: #dafbda; 
  --warning-text-color: #000000; 
  --error-text-color: #fbdada; 
}

/* light theme overrides */
.light {
  --background-color: #f1efef; 
  --border-color: #e2dddd;
  --text-color: #292323; 
  --text-color-light: #6e5e5e; 
  --text-color-lighter: #958484; 
  --primary-accent-color: #c21414; 
  --primary-accent-color-light: #e82121; 
  --primary-accent-color-dark: #940f0f; 
  --primary-accent-text-color: #fbdada;
  --secondary-accent-color: #6bc214; 
  --secondary-accent-color-light: #84e821; 
  --secondary-accent-color-dark: #51940f; 
  --secondary-accent-text-color: #000000; 
  --success-color: #14c214; 
  --warning-color: #c2c214; 
  --error-color: #c21414; 
  --success-text-color: #dafbda; 
  --warning-text-color: #000000; 
  --error-text-color: #fbdada; 
}

